
<div class="container" >
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>Todo List</h1>
          <form class="form-inline">
            <input type="text" class="form-control add-todo"  name="item" placeholder="Add Item...">
            <button id="checkAll" class="btn btn-success ml-2">Add</button>
          </form>
          <hr>
          
          <ul id="sortable" class="list-unstyled">
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" />Study Javascript</label>
              </div>
            </li>
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" />Study Angular</label>
              </div>
            </li>
          </ul>
          <h2>Items Done</h2>
          <ul id="sortable" class="list-unstyled">
            <li class="ui-state-default">
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked /><span style="text-decoration:line-through;">
                    Read Café
                    Recursivo
                  </span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>